@font-face {
    font-family: "Hina Mancho";
    src: url(../font/HinaMincho-Regular.ttf);
}

* {
    font-family: "Hina Mancho";
}

body {
    background-color: black;
    color: white;
    width: 1000px;
}

.hr-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.hr-flexbox .small {
    border: solid 1px black;
    display: flex;
    height: 200px;
    width: 200px;
}