/* page design */

header .logo-wrapper {
    background-image: linear-gradient(80deg, #daffdf, #a5d1a6)
}

.blink-omotenashi {
    display: flex;
    font-size: 2.5rem;
}

.blink-omotenashi .o,
.blink-omotenashi .mo,
.blink-omotenashi .te,
.blink-omotenashi .na,
.blink-omotenashi .shi {
    animation: blink 5s infinite;
    font-weight: bold;
    margin: 0 1rem;
}

.blink-omotenashi .mo {
    animation-delay: 1s;
}

.blink-omotenashi .te {
    animation-delay: 2s;
}

.blink-omotenashi .na {
    animation-delay: 3s;
}

.blink-omotenashi .shi {
    animation-delay: 4s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}